{% embed './default.twig' %}
  {% block content %}
    {# Place the page header. #}
    {% include '../styleguide/patterns/01-components/c-billboard/c-billboard.twig'%}

    {% embed '../styleguide/patterns/02-layouts/l-constrained/l-constrained.twig' %}
      {% block region %}
        <article class="article">
          <h1 class="article-title">{{ title }}</h1>
          <footer class="article-metadata">{{ category }} | <time datetime="{{ post_date|date('Y-m-dT00:00:00+06:00') }}">{{ post_date|date('F j, Y') }}</time></footer>

          <div class="article-content">
            <div class="main-col">
              {{ contents }}

              {% include '../styleguide/patterns/01-components/c-credit-list/c-credit-list.twig' with {
                items: credits
              } only %}

              {% include '../styleguide/patterns/01-components/c-profile-teaser/c-profile-teaser.twig' with {
                profile: author
              } only %}

              {% if previous or next %}
                <ul class="c-article-pager">
                  {% if previous %}
                    <li class="c-article-pager__item">
                      <a href="/{{ previous.path }}" class="c-article-pager__link c-article-pager__link-prev">Newer</a>
                    </li>
                  {% endif %}

                  {% if next %}
                    <li class="c-article-pager__item">
                      <a href="{{ next.path }}" class="c-article-pager__link c-article-pager__link-next">Older</a>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>

            <aside class="side-col">
              {% for article in related %}
                {{ article.title }}
              {% endfor %}
            </aside>
          </div>
        </article>
      {% endblock %}
    {% endembed %}

    {% include '../styleguide/patterns/01-components/c-cta-banner/c-cta-banner.twig' with {
        title: "Showers, Soirées, and Celebrations...",
        subtitle: "we've got you",
        button: {
          href: "http://www.google.com",
          text: "Go Shopping"
        }
    } %}

    {% include '../styleguide/patterns/01-components/c-slogan/c-slogan.twig' with {
        text: "Love is all you need. Love, and a really great cocktail.",
    } %}
  {% endblock %}
{% endembed %}
