{% embed './default.twig' %}
  {% block content %}
    {# Place the page header. #}
    {% embed '../styleguide/patterns/01-components/c-billboard/c-billboard.twig' with { alignment: 'center' } %}
      {% block content %}
        {% include '../styleguide/patterns/01-components/c-title-ribbon/c-title-ribbon.twig' with { text_upper: 'Let&rsquo;s have', text_lower: 'fun together' } %}
      {% endblock %}
    {% endembed %}

    {# Place Homepage intro. #}
    {% embed '../styleguide/patterns/02-layouts/l-constrained/l-constrained.twig' %}
      {% block region %}
        {% embed '../styleguide/patterns/02-layouts/l-columns/l-columns.twig' with { count: 2, ratio: 'equal', element: 'section', flow: 'reverse', classes: ['u-pad'] } %}
          {% block region_1 %}
            {% include '../styleguide/patterns/01-components/c-text-block/c-text-block.twig' with { title_fancy: 'Hey!', title: 'We&rsquo;re Dearly, and we like to party.', content: '<p>Dearly Design Co. is a husband and wife team inspired by cocktails and confetti and fueled by coffee (and fur-baby cuddles). We provide stationery, paper goods and branding for modern brides, creative events and beautiful businesses.</p>' } only %}
          {% endblock %}
          {% block region_2 %}
            {% set figure %}
              {% include '../styleguide/patterns/01-components/c-cta-figure/c-cta-figure.twig' with {
                img_src: 'http://lorempixel.com/300/300/people/',
                img_alt: 'Alt text here',
                link_text: 'Meet Us',
                link_href: 'http://www.google.com'
              } only %}
            {% endset %}
            {% include '../styleguide/patterns/02-layouts/l-grid-list/l-grid-list.twig' with {
              columns: 2,
              items: [
                figure,
                figure,
                figure,
                figure
              ]
            } only %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}

    <section class="c-cta--home">
      <div class="l-constrained">
        <p class="pre-title">We love to make new friends.</p>
        <h1 class="title">And you are here because...</h1>
        <ul class="bubble-links">
          <li class="bubble-links__item"><a href="/services/weddings/">
            <span class="bubble__links-pre">You're getting</span> married
          </a></li>
          <li class="bubble-links__item"><a href="/services/branding/">
            <span class="bubble__links-pre">You're planning a</span> party
          </a></li>
          <li class="bubble-links__item"><a href="/services/parties/">
            <span class="bubble__links-pre">You have a</span> business
          </a></li>
        </ul>
      </div>
    </section>

    {% embed '../styleguide/patterns/02-layouts/l-teaser/l-teaser.twig' %}
      {% block thumb %}
        {% include '../styleguide/patterns/01-components/c-figure-fancy/c-figure-fancy.twig' with {
          media: '<img src="/assets/images/weddings.jpg" alt="Weddings">'
        } %}
      {% endblock %}

      {% block content %}
        {% include '../styleguide/patterns/01-components/c-action-list/c-action-list.twig' with {
          title: "Bold Design for the Modern Bride",
          items: [
            'Save the dates',
            'Invitation suites',
            'Programs &amp; Menus',
            'Day of paper goods',
            'Favors &amp Gifts',
            'Thank you cards',
            'RSVP websites',
            'Professional printing'
          ],
          button: {
            content: 'See More',
            href: '/servies/weddings/'
          }
        } %}
      {% endblock %}
    {% endembed %}

    {% embed '../styleguide/patterns/02-layouts/l-teaser/l-teaser.twig' with { flow: 'reverse' } %}
      {% block thumb %}
        {% include '../styleguide/patterns/01-components/c-figure-fancy/c-figure-fancy.twig' with {
          media: '<img src="/assets/images/parties.jpg" alt="Parties">'
        } %}
      {% endblock %}

      {% block content %}
        {% include '../styleguide/patterns/01-components/c-action-list/c-action-list.twig' with {
          title: "Creativity for inspired events",
          items: [
            'Save the dates',
            'Invitation suites',
            'Programs &amp; Menus',
            'Day of paper goods',
            'Favors &amp Gifts',
            'Thank you cards',
            'RSVP websites',
            'Professional printing'
          ],
          button: {
            content: 'See More',
            href: '/services/parties/'
          },
          flow: 'reverse'
        } %}
      {% endblock %}
    {% endembed %}

    {% embed '../styleguide/patterns/02-layouts/l-teaser/l-teaser.twig' %}
      {% block thumb %}
        {% include '../styleguide/patterns/01-components/c-figure-fancy/c-figure-fancy.twig' with {
          media: '<img src="/assets/images/branding.jpg" alt="Branding">'
        } %}
      {% endblock %}

      {% block content %}
        {% include '../styleguide/patterns/01-components/c-action-list/c-action-list.twig' with {
          title: "Stylish Branding for Beautiful Businesses",
          items: [
            'Save the dates',
            'Invitation suites',
            'Programs &amp; Menus',
            'Day of paper goods',
            'Favors &amp Gifts',
            'Thank you cards',
            'RSVP websites',
            'Professional printing'
          ],
          button: {
            content: 'See More',
            href: '/services/branding/'
          }
        } %}
      {% endblock %}
    {% endembed %}

    {% include '../styleguide/patterns/01-components/c-cta-banner/c-cta-banner.twig' with {
        title: "Showers, Soirées, and Celebrations...",
        subtitle: "we've got you",
        button: {
          href: "http://www.google.com",
          text: "Go Shopping"
        }
    } %}

    {% if metadata.collections.articles %}
      <section class="l-constrained" style="overflow: hidden;">
        <h2 class="c-section-title c-section-title--large">{{ "On the Blog" }}</h2>
        <ul class="teaser-grid">
          {% for article in metadata.collections.articles|slice(0, 3) %}
          <li class="teaser-grid__item">
            <a href="/{{ article.path }}" class="card card--article">
              <figure class="card__thumbnail">
                <img src="/assets/images/thumbnails/{{ article.main_image }}" alt="{{ article.title }}">
              </figure>

              <div class="card__content">
                <h3 class="card__title">{{ article.title }}</h3>
                <p class="card__metadata">{{ article.category }}</p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% include '../styleguide/patterns/01-components/c-slogan/c-slogan.twig' with {
        text: "Love is all you need. Love, and a really great cocktail.",
    } %}
  {% endblock %}
{% endembed %}
